<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tina4 Chat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tina4.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="/">Tina4 Chat</a>
    </div>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
