/.idea/
/venv/
/dist/
/src/public/
/.pypirc
/src/templates/index.twig
/secrets/
/.env
/public/css/test.css
/sessions/
/tests/secrets/domain.cert
/tests/secrets/private.key
/tests/secrets/public.key
/tests/src/public/css/readme.md
/tests/src/public/images/403.png
/tests/src/public/images/404.png
/tests/src/public/images/logo.png
/tests/src/public/images/readme.md
/tests/src/public/js/readme.md
/tests/src/public/swagger/index.html
/tests/src/public/swagger/oauth2-redirect.html
/tests/src/public/favicon.ico
/tests/src/templates/errors/403.twig
/tests/src/templates/errors/404.twig
/tests/src/templates/readme.md
/tests/src/__init__.py
/tests/.env
/tests/app.py
/test.db
/logs/
/migrations/__test_user.sql
/migrations/__test_user_item.sql
/tina4_python.egg-info/
/src/templates/crud/
/.venv/
/publish.bat
/Dockerfile
/data.db
/test_queue.db-shm
/publish.sh
