<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tina4.min.css">
    <link rel="stylesheet" href="/css/default.css">
    {% block stylesheets %}{% endblock %}
    <script src="/js/tina4.js"></script>
    <script src="/js/tina4helper.js"></script>
</head>
<body>
{% block content %}{% endblock %}





{% block javascripts %}{% endblock %}
</body>
</html>
