<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Tina4Python</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <h1>Welcome to Tina4Python</h1>
    <p>This is a simple example of an index page using Twig templating in Tina4Python.</p>
    <p>You can edit me within src/templates</p>
</body>
</html>
