name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync

      - name: Add Test API_KEY
        run: echo "API_KEY=38168ba8aad6c91ba13d959c3f91c7a7" > .env

      - name: Initialize Tina4
        run: uv run tina4 init .

      - name: Start Tina4 server
        run: |
          uv run tina4 start &
          sleep 10  # Wait for server to start

      - name: Run tests
        run: uv run pytest --ignore-tests=tests/test_rabbitmq_queue.py --ignore-tests=test_mongo_queue.py tests/

      - name: Stop server
        if: always()
        run: pkill -f "uv run tina4 start" || true